#container_top {
    height: auto;
    width:100%;
    display:block;
    overflow: auto;
    min-height: 100px;
}
#left_top {
   float:left; 
   height:120px;
   width:30%;
   display:block;
   padding-top: 50px;
   color:#000;
}

#left_top a{
	font-size: 50px;
	color: #000;
	font-family: 'Playfair Display', serif;
	text-decoration: none;
	margin-left: 30%;
}

#right_top{
   float:left; 
   height:85px;
   width:60%;
   display:block;
   padding-top: 85px;
   color:#000;
   text-align: right;
   padding-right: 10%;
   font-size: 18px;
}
#right_top a{
	color: #000000;
	font-family: 'Playfair Display', serif;
	text-decoration: none;
}

<!--메뉴 감싸는 부분-->
.menus{
			/*삭제하면 안됨, 삭제하면 밀리는데 왜그런지 모르겠음*/
} 
.menus{
  *zoom: 1;
  padding: 50px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  background: #fff;
  width: 100%;
}
.menus:before, .menus:after {
  content: "";
  display: table;
}
.menus:after {
  clear: both;
}

.menu-effect a {
  padding: 0 10px;
  margin: 0 20px;
  color: #797878;
  text-shadow: none;
  position: relative;
  text-decoration: none;
  font-size: 17px;
  font-family: 'Open Sans Condensed', sans-serif;
}
.menu-effect a::before {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  padding: 0 10px;
  max-height: 0;
  color: #000;
  content: attr(data-hover);
  -webkit-transition: max-height 0.5s;
  -moz-transition: max-height 0.5s;
  transition: max-height 0.5s;
}
.menu-effect a:hover::before {
  max-height: 100%;
}

@media screen and (max-width:1200px) {
	#container_top {
    height: auto;
    width:120%;
    display:block;
    overflow: auto;
    min-height: 100px;
}
	.menus{
  *zoom: 1;
  padding: 50px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  background: #fff;
  width: 120%;
}
}
